@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans"
}

*::selection {
    background-color: var(--mark);
 }

:root {
    --cor-primaria: #754ef9;
    --mark: #4e00bc;

    --background: #121214;
    --text: whitesmoke;
    --text2: #c8c8c8;
}

.dark-mode {
    --cor-primaria: #754ef9;
    --mark: #a88fca;

    --background: whitesmoke;
    --text: #323232;
    --text2: #2d2d2d;
    ;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: red;
    margin-bottom: 1000px;
    overflow-X: hidden;
}

nav {
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15%;
    position: fixed;
    z-index: 10;
    font-weight: bolder;
}

.nav-logo {
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
}

.nav-menu-item {
    margin-left: 50px;
    font-size: 1.2em;
    color: var(--text);
    transition: 0.4s;
}

.nav-menu-item:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #5100ff;
}

.toggle {
    display: flex;
    cursor: pointer;
    margin-top: 1px;
}

.bx { 
    font-size: 24px;
}

.toogle .toggle-icon {
    color: var(--text);
}











.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.home-section {
    padding: 0px 15%;
    display: flex;
    ;

}

.home-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home-left-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-left-text-ap {
    font-size: 2em;
    color: var(--cor-primaria);
    font-weight: 700;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.2s;
}

.home-left-text h1 {
    font-size: 3.5em;
    color: #754ef9;
    line-height: 50px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.4s;
}

.home-left-text-p {
    font-size: 1em;
    color: var(--text2);
    line-height: 25px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: 0.6s;
}

.home-button {
    margin: 30px 0%;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    background-color: whitesmoke;
    border-radius: 30px;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 50px #5100ff;
    border: 2px solid var(--cor-primaria);
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: 0.8s;
}

.home-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: whitesmoke;
    background-color: var(--cor-primaria);
    border: 1px solid whitesmoke;
}

.home-button:active {
    background-color: #b9b2c8;
}

.home-left-social {
    display: flex;
    padding-left: 10.5%;
    gap: 3%;
    border-bottom: 3px solid var(--cor-primaria);
    width: 50%;
}

.home-left-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: var(--cor-primaria);
    text-decoration: none;
    margin: 25px 15px 30px 0px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: calc(0.15s * var(--i));
}

.home-left-social a:hover {
    transform: scale(1.2);
    background-color: var(--cor-primaria);
    color: var(--text);
    cursor: pointer;

}

.profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, professionRotate 13s ease-out infinite;
    animation-delay: 0.6s, 1.2s;
}

.profession-box .profession {
    width: 30%;
    position: absolute;
    left: 0;
    transform-origin: 384px;
    transform: rotate(calc(360deg / 4 * var(--i)));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
    padding: 13px 0px;
    background-color: var(--background);
    z-index: 1;
}

.profession-box .profession h3 {
    text-align: center;
}

.profession-box .profession:nth-child(1) {
    margin-right: 15px;
}

.profession-box .profession:nth-child(2) {
    padding-bottom: 20px;
}

.profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.profession i {
    font-size: 38px;
}

.profession h3 {
    font-size: 2em;
    line-height: 1;
    font-weight: 600;
}

.profession-box .circle {
    width: 72%;
    height: 72%;
    border: 3px solid var(--cor-primaria);
    border-radius: 50%;
}

.profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--cor-primaria);
    border-right: 384px solid var(--cor-primaria);
    border-bottom: 384px solid var(--cor-primaria);
    border-left: 384px solid transparent;
    
}

.home-img { 
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80%;
    pointer-events: none;
}













.about {
    padding: 100px;
    background-color: var(--background);
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    color: var(--text);
    scroll-margin-top: 60px;
}

.about-container {
    width: 85%;
}

.about-title h2 {
    font-size: 3em;
    margin-bottom: 50px;
    color: var(--cor-primaria);
}

.about-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    list-style: none;
}
.about-item { 
    display: flex;
    justify-content: center;
    gap: 15px;
}

.about-item-seta {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid rgb(8, 218, 8);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}








.techs {
    width: 100%;
    background-color: var(--background);
    height: calc(100vh - 60px);
    scroll-margin-top: 60px;
}

.techs-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.techs-title {
    text-align: center;
}

.techs-title h2 {
    font-size: 4em;
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

.techs-title p {
    font-size: 1em;
    color: var(--text);
    padding-bottom: 20px;
    border-bottom: 3px solid var(--cor-primaria);;
    color: var(--text2)
}

.techs-icons {
    width: 50vw;
}

.techs-icons ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.techs-icons p {
    margin-bottom: 10px;
}

.techs-icons ul li img {
    width: 80px;
    transition: 0.3s;
    filter: grayscale(1);
}

.techs-icons ul li img:hover {
    cursor: pointer;
    animation: loading 2s infinite;
}

@keyframes loading {
	0% {
		transform: rotateY(0);
        filter: grayscale(1);
	}
	10% {
		transform: rotateY(36deg);
        filter: grayscale(0);
	}

    20% {
		transform: rotateY(72deg);
        filter: grayscale(0);
	}

    30% {
		transform: rotateY(104deg);
        filter: grayscale(0);
	}

    40% {
		transform: rotateY(144deg);
        filter: grayscale(0);
	}

    50% {
		transform: rotateY(180deg);
        filter: grayscale(0);
	}

    60% {
		transform: rotateY(216deg);
        filter: grayscale(0);
	}

    70% {
		transform: rotateY(252deg);
        filter: grayscale(0);
	}

    80% {
		transform: rotateY(288deg);
        filter: grayscale(0);
	}

    90% {
		transform: rotateY(324deg);
        filter: grayscale(0);
	}

    100% {
		transform: rotateY(360deg);
        filter: grayscale(0);
	}
}



.services {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    color: whitesmoke;
    height: 100vh;
}

.services-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    text-align: center;
}
.services-title h2 {
    font-size: 4em;
    color: var(--cor-primaria);
    font-weight: 900;
    margin-bottom: 10px;
}

.services-title p {
    font-size: 1em;
    color: var(--text2);
    margin-bottom: 50px;
}

.services-divs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.services-divs-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 400px;
    height: 400px;
    text-align: center;
    background-color: #2b2b2b;
    padding: 30px;
    border: 3px solid #5d38ae00;
}

.services-divs-item:hover {
    border: 3px solid var(--cor-primaria);
}

.services-divs-item h3 {
    font-size: 2em;
}






.projects {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
    height: 200vh;
}

.projects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    text-align: center;
}

.projects-title h2 {
    font-size: 4em;
    color: var(--cor-primaria);
    font-weight: 900;
    margin-bottom: 10px;
}

.projects-title p {
    font-size: 1em;
    color: var(--text2);
    margin-bottom: 50px;
}

.projects-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.projects-area-card {
    height: 400px;
    width: 360px;
    padding: 10px;
    border: 3px solid #5d38ae00;
    position: relative;
}

.projects-area-card:hover {
    border: 3px solid var(--cor-primaria);
}

.projects-area-card img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.project-area-card-techs {
    color: var(--text);
    position: relative;
    bottom: 0%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-visible {
    position: relative;
}

.projects-hidden {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 8%;
    height: 90%;
}

.projects-area-card:hover .projects-hidden {
    display: flex;
    cursor: pointer;
}

.projects-area-card:hover .projects-visible{
    opacity: 0.15;
}

.project-hidden-text {
    height: 100%;
}

.project-hidden-title {
    height: 50%;
    width: 100%;
}

.project-hidden-p {
    height: 50%;
    width: 100%;
}


.project-hidden-text h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.project-hidden-text p {
    font-size: 1em;
    color: var(--text);
    font-weight: 600;
}

.projects-button {
    margin: 30px 0%;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    background-color: whitesmoke;
    border-radius: 30px;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 50px #5100ff;
    border: 2px solid var(--cor-primaria);;
}

.projects-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: whitesmoke;
    background-color: var(--cor-primaria);;
    border: 1px solid whitesmoke;
}

.projects-button:active {
    background-color: #b9b2c8;
}

.ocult {
    transition: 0.4s;
    display: none;
}


/* KeyFrames animation */
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes professionRotate {
    0%,20% {
        transform: rotate(0deg);
    }

    25%,45% {
        transform: rotate(-90deg);
    }

    50%,70% {
        transform: rotate(-180deg);
    }

    75%,95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

